.flex-column-menu {
	display:box;
	display:flex;
	min-height:100%;
	
	flex-direction: column;
	justify-content: center;
}

.flex-row-menu {
	display:box;
	display:flex;
	width:100%;
	
	flex-direction: row;
	justify-content: space-around;
}

h1,h2,h3,h4,h5,h6 {
	text-align: center;
	vertical-align: middle;
}

.ui-content {
    position : absolute;
    top      : 42px;
    right    : 0;
    bottom   : 42px;
    left     : 0;
}

.ui-btn {
	min-width: 45px;
}

.deck-icon {
	width: 150px !important;
	height: 150px !important;
	align-self: center;
	border: solid 1px;
}
